CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
paper/*
!paper/*.tex
!paper/*.cls
!paper/*.bib
!paper/*.bst
!paper/graphics/
!paper/patches/
!paper/BenchmarkProject/
